.div1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #801a00;
}

.div2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: cornsilk;
  border-radius: 8px;
  height: 80%;
  width: 45%;
}